@font-face {
  font-family: "DS-FONT";
  src: url("assets/fonts/DS-DIGI.TTF");
}

body {
  font-family: DS-FONT;
}

.chrono {
  width: 600px;
  background-color: #fff8e1;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.chrono > p {
  color: #ada2ff;
  font-size: 75px;
  padding-top: 20px;
  text-align: center;
}

.chrono > input {
  color: #ada2ff;
  font-size: 75px;
  padding-top: 20px;
  text-align: center;
  font-family: DS-FONT;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.action_btn {
  text-align: center;
  margin: 0 15px 0 15px;
  font-size: 50px;
}

.action_btn > button {
  margin: 0 15px 0 15px;
  width: 200px;
  height: 50px;
  background-color: #ada2ff;
  font-family: DS-FONT;
}
